<!DOCTYPE html>
<html>
<head>
    <title>Bangalore House Price Predictor</title>
</head>
<body>
    <h2>Bangalore House Price Prediction</h2>

    <form action="/predict_web" method="post">
        <input type="text" name="total_sqft" placeholder="Total Sqft" required><br><br>
        <input type="text" name="bath" placeholder="Bathrooms" required><br><br>
        <input type="text" name="bhk" placeholder="BHK" required><br><br>

        <select name="location" required>
            {% for location in locations %}
                <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Predict Price</button>
    </form>

    <h3>{{ prediction_text }}</h3>

</body>
</html>
